<table class="table">
  <thead class="thead-dark">
    <tr>
      <th><%= t('.user') %></th>
      <th><%= t('.question') %></th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody class="table-striped table-dark">

  <%= render @gists %>

  </tbody>
</table>