<table class="table mt-2">
  <thead class="thead-dark">
    <tr>
      <th><%= t('.user') %></th>
      <th><%= t('.question') %></th>
      <th><%= t('.link') %></th>
    </tr>
  </thead>
  <tbody class="table-striped table-dark">

  <%= render @gists %>

  </tbody>
</table>