<h1> <%= t('.header', title: @test_passage.test.title) %> </h1>

<% if @test_passage.success? %>
  <p style="color: green"><%= t('.ex')%></p>
<% else %>
  <p style="color: red"><%= t('.bad')%></p>
<% end %>
<%= link_to t('routes.back'), tests_path %>