<h1> <%= t('.header', title: @test_passage.test.title) %> </h1>

<% if @test_passage.success? %>
  <p style="color: green">Excellent</p>
<% else %>
  <p style="color: red">Bad</p>
<% end %>
<%= link_to 'Back', tests_path %>