<div>
  <p >Footer</p> <br>
  <p>Year: <%= current_year %></p>
  <p>Author: Jamal Mulhem</p>
  <p>GitHub: <%= github_url('melhemm', 'rails') %></p>
  <p><%= link_to 'Online school Thinknetica', 'https://thinknetica.com' %></p>
</div>