<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>questions</th>
    <th colspan="4">Action</th>
  </tr>

  <%= render @tests %>
</table>

<%= link_to 'Create test', new_admin_test_path %>